@page
@model SacramentMeetingPlanner.Pages.Meetings.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.MeetingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.MeetingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Conductor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Conductor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.OpeningHymnNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.OpeningHymnNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.SacramentHymnNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.SacramentHymnNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.RestHymnNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.RestHymnNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.ClosingHymn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.ClosingHymn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.OpeningPrayer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.OpeningPrayer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.ClosingPrayer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.ClosingPrayer)
        </dd>
        @*Speaker One*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.SpeakerOne)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.SpeakerOne)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.TopicChoice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.TopicChoice)
        </dd>
        @*Speaker Two*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.SpeakerTwo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.SpeakerTwo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.TopicChoiceTwo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.TopicChoiceTwo)
        </dd>
        @*Speaker Three*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.SpeakerThree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.SpeakerThree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.TopicChoiceThree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.TopicChoiceThree)
        </dd>
        @*Speaker Four*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.SpeakerFour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.SpeakerFour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.TopicChoiceFour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.TopicChoiceFour)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Meeting.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
