@page
@model SacramentMeetingPlanner.Pages.Meetings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Meeting Details</h1>
<div class="card w-75">
    <div class="card-header text-center fw-bold">
        @Html.DisplayNameFor(model => model.Meeting.MeetingDate) - @Html.DisplayFor(model => model.Meeting.MeetingDate)
    </div>
    <div class="card-body">
        <dl class="row mb-0">
            <dt class="col-sm-5">@Html.DisplayNameFor(model => model.Meeting.Conductor)</dt>
            <dd class="col-sm-7 text-sm-end">@Html.DisplayFor(model => model.Meeting.Conductor)</dd>
        </dl>
        <dl class="row mb-0">
            <dt class="col-sm-5">@Html.DisplayNameFor(model => model.Meeting.OpeningHymnNumber)</dt>
            <dd class="col-sm-7 text-sm-end">@Html.DisplayFor(model => model.Meeting.OpeningHymnNumber)</dd>
        </dl>
        <dl class="row mb-0">
            <dt class="col-sm-5">@Html.DisplayNameFor(model => model.Meeting.OpeningPrayer)</dt>
            <dd class="col-sm-7 text-sm-end">@Html.DisplayFor(model => model.Meeting.OpeningPrayer)</dd>
        </dl>
        <dl class="row mb-0">
            <dt class="col-sm-5">@Html.DisplayNameFor(model => model.Meeting.SacramentHymnNumber)</dt>
            <dd class="col-sm-7 text-sm-end">@Html.DisplayFor(model => model.Meeting.SacramentHymnNumber)</dd>
        </dl>
        <dl class="row">
            <dt class="col-12 text-center my-1">Administration of the Sacrament</dt>
        </dl>
        @if (Model.Meeting.SpeakerOne == "Fast Sunday"){
            <dl class="row mb-0">
            <dt class="col-12 text-center">Bearing of Testimonies</dt>
        </dl>
        } else {
            <dl class="row mb-0">
                <dt class="col-sm-5">@Html.DisplayNameFor(model => model.Meeting.SpeakerOne)</dt>
            <dd class="col-sm-7 text-sm-end">@Html.DisplayFor(model => model.Meeting.SpeakerOne) - @Html.DisplayFor(model => model.Meeting.TopicChoice)</dd>
            </dl>
        }
        @if (Model.Meeting.SpeakerTwo != "")
        {
            <dl class="row mb-0">
                <dt class="col-sm-5">@Html.DisplayNameFor(model => model.Meeting.SpeakerOne)</dt>
            <dd class="col-sm-7 text-sm-end">@Html.DisplayFor(model => model.Meeting.SpeakerTwo) - @Html.DisplayFor(model => model.Meeting.TopicChoiceTwo)</dd>
        </dl>
        }
        @if (Model.Meeting.SpeakerThree != "")
        {
            <dl class="row mb-0">
                <dt class="col-sm-5">@Html.DisplayNameFor(model => model.Meeting.SpeakerOne)</dt>
            <dd class="col-sm-7 text-sm-end">@Html.DisplayFor(model => model.Meeting.SpeakerThree) - @Html.DisplayFor(model => model.Meeting.TopicChoiceTwo)</dd>
        </dl>
        }
        @if (Model.Meeting.SpeakerFour != "")
        {
            <dl class="row mb-0">
                <dt class="col-sm-5">@Html.DisplayNameFor(model => model.Meeting.SpeakerOne)</dt>
            <dd class="col-sm-7 text-sm-end">@Html.DisplayFor(model => model.Meeting.SpeakerFour) - @Html.DisplayFor(model => model.Meeting.TopicChoiceTwo)</dd>
        </dl>
        }
        <dl class="row mb-0">
            <dt class="col-sm-5">@Html.DisplayNameFor(model => Model.Meeting.ClosingHymn)</dt>
            <dd class="col-sm-7 text-sm-end">@Html.DisplayFor(model => Model.Meeting.ClosingHymn)</dd>
        </dl>
        <dl class="row mb-0">
            <dt class="col-sm-5">@Html.DisplayNameFor(model => Model.Meeting.ClosingPrayer)</dt>
            <dd class="col-sm-7 text-sm-end">@Html.DisplayFor(model => Model.Meeting.ClosingPrayer)</dd>
        </dl>
    </div>
    <div class="card-footer text-end">
        <div class="btn-group btn-group-sm">
            <a class="btn btn-warning text-light" asp-page="./Edit" asp-route-id="@Model.Meeting?.Id"><i class="bi-pencil"></i> Edit</a>
            <a class="btn btn-info" asp-page="" asp-route-id=""><i class="bi-list-ul"></i> Print</a>
            <a class ="btn btn-secondary" asp-page="./Index"><i class="bi bi-arrow-left-square"></i> Meeting List</a>
     
        </div>
    </div>
</div>

