@page
@model SacramentMeetingPlanner.Pages.Members.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Deseret Ward</h1>

<div class="card border-info mb-3" style="max-width: 50%;">
    <h4 class="card-header" >Member Details</h4>

    <dl class="row card-body">
        <dt class="col-sm-2 card-text">
            @Html.DisplayNameFor(model => model.Member.FirstName)
        </dt>
        <dd class="col-sm-10 card-text">
            @Html.DisplayFor(model => model.Member.FirstName)
        </dd>
        <dt class="col-sm-2 card-text">
            @Html.DisplayNameFor(model => model.Member.LastName)
        </dt>
        <dd class="col-sm-10 card-text">
            @Html.DisplayFor(model => model.Member.LastName)
        </dd>
        <dt class="col-sm-2 card-text">
            @Html.DisplayNameFor(model => model.Member.MemberTitle)
        </dt>
        <dd class="col-sm-10 card-text">
            @Html.DisplayFor(model => model.Member.MemberTitle)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Member?.ID">Edit</a> 
    <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
</div>
